<div id="header">
  <a id="logo" href="http://tinper.org/">
    <img src="<%- url_for("/images/logo.png") %>">
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
</div>
